@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row col-sm-4">
    @foreach (var match in Model.HeroesInLive.Take(10))
    {

        <div class="card" id="livecard">
            <div class="card-body">
                <h3 id="livecardheader">Live</h3>
                <div class="LiveScore">
                    <p id="score">
                        <span id="leftscore">@match.Matches.RadiantScore</span><span id="seperator"> : </span>
                        <span id="rightscore"> @match.Matches.DireScore</span>

                    </p>
                </div>



                <p id="livetext">MatchID @match.Matches.MatchId</p>
                <p id="livetext">Time Started @match.Matches.ActivateTime</p>
                <p id="livetext">Tima Elapsed @match.Matches.GameTime</p>
                <p id="livetext">Avrage MMR: @match.Matches.AverageMmr</p>

                <table class="table table-hover" id="livetalbebody">
                    <tr id="livetablerow">
                        <th id="livetablehead">Player Names</th>
                        <th id="livetablehead">Heroes</th>
                        <th id="livetablehead">Pro Or Not</th>
                    </tr>
                    @for (int i = 0; i < match.Matches.Players.Length; i++)
                    {

                        <tr id="livetablerow">
                            <td id="livetablehead">@match.Matches.Players[i].Name</td>
                            <td id="livetablehead">@match.Hero.Find(h => h.Id == match.Matches.Players[i].HeroId).LocalizedName</td>
                            @if (match.Matches.Players[i].IsPro == true)
                            {
                                <td id="livetablehead">Is Pro</td>
                            }
                            else
                            {
                                <td id="livetablehead">Not Pro</td>
                            }
                        </tr>
                    }
                </table>

                @*<p class="col-6">player name: @match.Matches.Players[i].Name</p>
                    <p>Hero: @match.Hero.Find(h => h.Id == match.Matches.Players[i].HeroId).LocalizedName;</p>
                    @if (match.Matches.Players[i].IsPro == true)
                    {
                        <p class="col-6"></p>
                    }
                    else
                    {
                        <p class="col-6"></p>
                    }*@


                <div class="card-footer">
                    <p id="livefooter">Last Updated: @match.Matches.LastUpdateTime</p>
                </div>
            </div>
        </div>


    }
</div>
